body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rounded-4 {
  border-radius: 0.5rem !important;
}

.cards-container {
  display: flex;
  padding: 1rem;
  overflow-x: auto;
  position: relative;
  
  
}
::-webkit-scrollbar {
  display: none;
}